<div class="seefood-upload">

  <form class="seefood-upload-form" [formGroup]="uploadFormGroup" (ngSubmit)="uploadFile()">
    <input
      type="file"
      accept="image/*"
      (change)="setFile($event)"
      name="file"
      formControlName="image"
    />

    <div class="seefood-upload-preview">

      <image-cropper
        [maintainAspectRatio]="false"
        *ngIf="imageChangedEvent && !uploadInProgress"
        [imageChangedEvent]="imageChangedEvent"
        (imageCropped)="imageCropped($event)"
      ></image-cropper>

      <img
        *ngIf="fileBase64Source && uploadInProgress"
        class="seefood-upload-preview-image"
        alt="Upload preview image"
        [src]="fileBase64Source"
        [class.upload-progress]="uploadInProgress"
        (load)="setImageCenterPosition()"
        #previewImage
      />

      <mat-spinner
        *ngIf="uploadInProgress"
        diameter="64"
        [ngStyle]="{'top': imageCenterPosition.y + 'px', 'left': imageCenterPosition.x + 'px'}"
      ></mat-spinner>

    </div>

    <button
      class="upload-button"
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="uploadInProgress || uploadFormGroup.invalid"
    >
      Upload
    </button>
  </form>

</div>

