.seefood-upload {

  &-form {
    display: flex;
    flex-direction: column;

    .upload-button, .preview-image {
      margin-top: 15px;
    }

    .upload-button {
      align-self: start;
    }

    .preview-image {
      max-width: 400px;
      max-height: 400px;
    }
  }
}
