.seefood-classification-result {

  &-title {
    margin-top: 16px;
    font-weight: bold;
  }

  &-data {
    display: flex;
    flex-direction: column;

    .positive, .negative {
      display: flex;
      flex-direction: column;

      mat-icon {
        margin-bottom: 16px;
      }
    }
  }
}
